* {
  margin: 0;
  padding: 0;
}
header {
  background-image: url("assets/images/bg.jpg");
  height: 80vh;
}

header .box {
  height: 80vh;
  width: 100%;
  opacity: 0.46;
  background-color: black;
}
